.header{
    background-color: #123056;
    color:white;
}
.carousel-item h5{
    font-size: 5em;
    text-shadow: 0px 0px 20px  rgba(0,0,0,0.5);
    
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
}
.card, .btn-warning{
    background-color: #FAB012;
}
.invitacion{
    background-color: #111;
}
label{
    font-weight: 500;
}
.obligatorio{
    color:red;
    font-weight: bold;
    font-size: 1.2em;
}